In [23]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [24]:
#Carga de un archivo .csv sin indice
data = pd.read_csv('milan_50_columnas.csv')
data.head(5)

,id,scrape_id,last_scraped,name,host_id,host_name,host_since,host_response_time,host_response_rate,host_acceptance_rate,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,6400,20240917031337,2024-09-17,The Studio Milan,13822,Francesca,2009-04-17,NaN,NaN,0%,...,5.00,5.00,4.56,4.67,NaN,f,1,0,1,0
1,23986,20240917031337,2024-09-17,""" Characteristic Milanese flat""",95941,Jeremy,2010-03-19,within an hour,100%,20%,...,4.59,4.74,4.70,4.48,NaN,f,1,1,0,0
2,40470,20240917031337,2024-09-17,Giacinto Cosy & clean flat near MM1,174203,Giacinto,2010-07-20,within an hour,100%,38%,...,4.98,4.88,4.44,4.51,NaN,f,2,2,0,0
3,46536,20240917031337,2024-09-17,Nico & Cinzia's Pink Suite!,138683,Nico&Cinzia,2010-06-05,NaN,NaN,75%,...,4.83,4.92,4.33,4.58,NaN,f,1,1,0,0
4,59226,20240917031337,2024-09-18,Near Piazza Gae Aulenti silent e reserved flat,244087,Francesca,2010-09-24,NaN,NaN,0%,...,4.89,4.89,4.44,4.44,NaN,f,1,1,0,0

In [25]:
#Identificar valores nulos por columna 
valores_nulos = data.isnull().sum()
valores_nulos

id                                                  0
scrape_id                                           0
last_scraped                                        0
name                                                0
host_id                                             0
host_name                                           0
host_since                                          0
host_response_time                               3854
host_response_rate                               3854
host_acceptance_rate                             1913
host_is_superhost                                 831
host_listings_count                                 0
host_total_listings_count                           0
host_identity_verified                              0
neighbourhood                                   11377
latitude                                            0
longitude                                           0
property_type                                       0
room_type                                           0
accommodates                                        0
bathrooms                                        1684
bedrooms                                          324
beds                                             1730
amenities                                           0
price                                            1677
minimum_nights                                      0
maximum_nights                                      0
minimum_nights_avg_ntm                              0
maximum_nights_avg_ntm                              0
calendar_last_scraped                               0
has_availability                                  190
availability_30                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
first_review                                     3978
last_review                                      3978
review_scores_rating                             3978
review_scores_accuracy                           3979
review_scores_cleanliness                        3979
review_scores_checkin                            3979
review_scores_communication                      3979
review_scores_location                           3980
review_scores_value                              3981
license                                         13536
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
dtype: int64

In [26]:
#Identificar valores nulos por dataframe 
valores_nulos = data.isnull().sum().sum()
valores_nulos

np.int64(76781)

In [27]:
#Realizamos copia del df
data2 = data.copy()

**MÃ©todos de sustituciÃ³n para valores nulos**

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23705 entries, 0 to 23704
Data columns (total 50 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            23705 non-null  int64
 1   scrape_id                                     23705 non-null  int64
 2   last_scraped                                  23705 non-null  object
 3   name                                          23705 non-null  object
 4   host_id                                       23705 non-null  int64
 5   host_name                                     23705 non-null  object
 6   host_since                                    23705 non-null  object
 7   host_response_time                            19851 non-null  object
 8   host_response_rate                            19851 non-null  object
 9   host_acceptance_rate                          21792 non-null  object
 10  host_is_superhost                             22874 non-null  object
 11  host_listings_count                           23705 non-null  int64
 12  host_total_listings_count                     23705 non-null  int64
 13  host_identity_verified                        23705 non-null  object
 14  neighbourhood                                 12328 non-null  object
 15  latitude                                      23705 non-null  float64
 16  longitude                                     23705 non-null  float64
 17  property_type                                 23705 non-null  object
 18  room_type                                     23705 non-null  object
 19  accommodates                                  23705 non-null  int64
 20  bathrooms                                     22021 non-null  float64
 21  bedrooms                                      23381 non-null  float64
 22  beds                                          21975 non-null  float64
 23  amenities                                     23705 non-null  object
 24  price                                         22028 non-null  object
 25  minimum_nights                                23705 non-null  int64
 26  maximum_nights                                23705 non-null  int64
 27  minimum_nights_avg_ntm                        23705 non-null  float64
 28  maximum_nights_avg_ntm                        23705 non-null  float64
 29  calendar_last_scraped                         23705 non-null  object
 30  has_availability                              23515 non-null  object
 31  availability_30                               23705 non-null  int64
 32  availability_90                               23705 non-null  int64
 33  availability_365                              23705 non-null  int64
 34  number_of_reviews                             23705 non-null  int64
 35  first_review                                  19727 non-null  object
 36  last_review                                   19727 non-null  object
 37  review_scores_rating                          19727 non-null  float64
 38  review_scores_accuracy                        19726 non-null  float64
 39  review_scores_cleanliness                     19726 non-null  float64
 40  review_scores_checkin                         19726 non-null  float64
 41  review_scores_communication                   19726 non-null  float64
 42  review_scores_location                        19725 non-null  float64
 43  review_scores_value                           19724 non-null  float64
 44  license                                       10169 non-null  object
 45  instant_bookable                              23705 non-null  object
 46  calculated_host_listings_count                23705 non-null  int64
 47  calculated_host_listings_count_entire_homes   23705 non-null  int64
 48  calculated_host_listings_count_private_rooms  23705 non-null  int64
 49  calculated_host_listings_count_shared_rooms   23705 non-null  int64
dtypes: float64(14), int64(16), object(20)
memory usage: 9.0+ MB

Sustituimos valores nulos con un string en concreto

In [40]:
# Rellenar valores nulos en 'license' con "Unknown"
data2["license"] = data2["license"].fillna("Unknown")

In [29]:
data2["host_response_time"] = data2["host_response_time"].fillna("within a few hours")

In [30]:
data2["host_is_superhost"] = data2["host_is_superhost"].fillna("f")

In [31]:
data2["neighbourhood"] = data2["neighbourhood"].fillna("unknown")

In [32]:
data2["has_availability"] = data2["has_availability"].fillna("t")

In [34]:
# Rellenar los valores nulos con la fecha mÃ¡s reciente del scraping
recent_date = data2["last_scraped"].max()
data2["first_review"] = data2["first_review"].fillna(recent_date)

In [38]:
data2["last_review"] = data2["last_review"].fillna(recent_date)

Sustituimos valores nulos por el promedio

In [50]:
# Rellenar con el promedio de la columna
data2["beds"] = data2["beds"].fillna(data2["beds"].mean())

In [46]:
data2["bathrooms"] = data2["bathrooms"].fillna(data2["bathrooms"].mean())

In [48]:
data2["bedrooms"] = data2["bedrooms"].fillna(data2["bedrooms"].mean())

Sustituimos valores nulos por la media

In [53]:
data2["price"] = data2["price"].replace({'\$': '', ',': ''}, regex=True)  # Eliminar sÃ­mbolos de dÃ³lar y comas
data2["price"] = data2["price"].astype(float)  # Convertir la columna a tipo float

data2["price"] = data2["price"].fillna(data2["price"].median())

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\jocel\AppData\Local\Temp\ipykernel_23808\347928009.py:1: SyntaxWarning: invalid escape sequence '\$'
  data2["price"] = data2["price"].replace({'\$': '', ',': ''}, regex=True)  # Eliminar sÃ­mbolos de dÃ³lar y comas

In [56]:
data2["host_response_rate"] = data2["host_response_rate"].replace({'%': ''}, regex=True).astype(float) / 100
data2["host_response_rate"] = data2["host_response_rate"].fillna(data2["host_response_rate"].median())

In [58]:
data2["host_acceptance_rate"] = data2["host_acceptance_rate"].replace({'%': ''}, regex=True).astype(float) / 100
data2["host_acceptance_rate"] = data2["host_acceptance_rate"].fillna(data2["host_acceptance_rate"].median())

Sustituimos valores nulos por un valor numerico en concreto

In [60]:
data2["review_scores_rating"] = data2["review_scores_rating"].fillna(5.0)

In [61]:
data2["review_scores_cleanliness"] = data2["review_scores_cleanliness"].fillna(5.0)

Foward Fill

In [64]:
data2["review_scores_checkin"] = data2["review_scores_checkin"].fillna(method="ffill")

C:\Users\jocel\AppData\Local\Temp\ipykernel_23808\380793546.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["review_scores_checkin"] = data2["review_scores_checkin"].fillna(method="ffill")

In [65]:
data2["review_scores_communication"] = data2["review_scores_communication"].fillna(method="ffill")

C:\Users\jocel\AppData\Local\Temp\ipykernel_23808\1120674921.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["review_scores_communication"] = data2["review_scores_communication"].fillna(method="ffill")

In [67]:
data2["review_scores_accuracy"] = data2["review_scores_accuracy"].fillna(method="ffill")

C:\Users\jocel\AppData\Local\Temp\ipykernel_23808\1487054375.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["review_scores_accuracy"] = data2["review_scores_accuracy"].fillna(method="ffill")

In [78]:
data2["review_scores_location"] = data2["review_scores_location"].fillna(method="ffill")

C:\Users\jocel\AppData\Local\Temp\ipykernel_23808\2280691230.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["review_scores_location"] = data2["review_scores_location"].fillna(method="ffill")

In [79]:
data2["review_scores_value"] = data2["review_scores_value"].fillna(method="ffill")

C:\Users\jocel\AppData\Local\Temp\ipykernel_23808\2203774106.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["review_scores_value"] = data2["review_scores_value"].fillna(method="ffill")

In [80]:
#Identificar valores nulos por columna 
valores_nulos = data2.isnull().sum()
valores_nulos

id                                              0
scrape_id                                       0
last_scraped                                    0
name                                            0
host_id                                         0
host_name                                       0
host_since                                      0
host_response_time                              0
host_response_rate                              0
host_acceptance_rate                            0
host_is_superhost                               0
host_listings_count                             0
host_total_listings_count                       0
host_identity_verified                          0
neighbourhood                                   0
latitude                                        0
longitude                                       0
property_type                                   0
room_type                                       0
accommodates                                    0
bathrooms                                       0
bedrooms                                        0
beds                                            0
amenities                                       0
price                                           0
minimum_nights                                  0
maximum_nights                                  0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
calendar_last_scraped                           0
has_availability                                0
availability_30                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
first_review                                    0
last_review                                     0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
license                                         0
instant_bookable                                0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
dtype: int64

In [81]:
#Identificar valores nulos por dataframe 
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(0)

In [82]:
#Convertir dataSet sin valores nulos a csv
data2.to_csv("mila_50_sin_nulos.csv")