In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Carga de un archivo .csv sin indice
data = pd.read_csv('mexico_50_columnas.csv')
data.head(5)

,id,scrape_id,last_scraped,name,host_id,host_name,host_since,host_response_time,host_response_rate,host_acceptance_rate,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,35797,20240925021012,2024-09-25,Villa Dante,153786,Dici,2010-06-28,a few days or more,0%,NaN,...,NaN,NaN,NaN,NaN,NaN,f,1,1,0,0
1,44616,20240925021012,2024-09-26,Condesa Haus,196253,Fernando,2010-08-09,within an hour,100%,93%,...,4.87,4.78,4.98,4.48,NaN,f,8,4,1,0
2,67703,20240925021012,2024-09-26,"2 bedroom apt. deco bldg, Condesa",334451,Nicholas,2011-01-04,within an hour,71%,57%,...,4.94,4.92,4.98,4.91,NaN,f,2,2,0,0
3,70644,20240925021012,2024-09-25,Beautiful light Studio Coyoacan- full equipped !,212109,Trisha,2010-08-24,within a few hours,100%,100%,...,4.96,4.98,4.96,4.92,NaN,f,3,2,1,0
4,107078,20240925021012,2024-09-25,NEW DESIGNER LOFT,540705,Andrea,2011-04-27,within an hour,100%,100%,...,5.00,4.73,4.91,4.82,NaN,f,3,3,0,0

In [3]:
#Identificar valores nulos por columna 
valores_nulos = data.isnull().sum()
valores_nulos

id                                                  0
scrape_id                                           0
last_scraped                                        0
name                                                0
host_id                                             0
host_name                                           0
host_since                                          0
host_response_time                               3622
host_response_rate                               3622
host_acceptance_rate                             2869
host_is_superhost                                1509
host_listings_count                                 0
host_total_listings_count                           0
host_identity_verified                              0
neighbourhood                                   10895
latitude                                            0
longitude                                           0
property_type                                       0
room_type                                           0
accommodates                                        0
bathrooms                                        2915
bedrooms                                          866
beds                                             2953
amenities                                           0
price                                            2927
minimum_nights                                      0
maximum_nights                                      0
minimum_nights_avg_ntm                              0
maximum_nights_avg_ntm                              0
calendar_last_scraped                               0
has_availability                                 1008
availability_30                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
first_review                                     3656
last_review                                      3656
review_scores_rating                             3656
review_scores_accuracy                           3657
review_scores_cleanliness                        3657
review_scores_checkin                            3657
review_scores_communication                      3657
review_scores_location                           3657
review_scores_value                              3657
license                                         26582
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
dtype: int64

In [4]:
#Identificar valores nulos por dataframe 
valores_nulos = data.isnull().sum().sum()
valores_nulos

np.int64(92678)

In [5]:
#Realizamos copia del df
data2 = data.copy()

**MÃ©todos de sustituciÃ³n para valores nulos**

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26582 entries, 0 to 26581
Data columns (total 50 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            26582 non-null  int64
 1   scrape_id                                     26582 non-null  int64
 2   last_scraped                                  26582 non-null  object
 3   name                                          26582 non-null  object
 4   host_id                                       26582 non-null  int64
 5   host_name                                     26582 non-null  object
 6   host_since                                    26582 non-null  object
 7   host_response_time                            22960 non-null  object
 8   host_response_rate                            22960 non-null  object
 9   host_acceptance_rate                          23713 non-null  object
 10  host_is_superhost                             25073 non-null  object
 11  host_listings_count                           26582 non-null  int64
 12  host_total_listings_count                     26582 non-null  int64
 13  host_identity_verified                        26582 non-null  object
 14  neighbourhood                                 15687 non-null  object
 15  latitude                                      26582 non-null  float64
 16  longitude                                     26582 non-null  float64
 17  property_type                                 26582 non-null  object
 18  room_type                                     26582 non-null  object
 19  accommodates                                  26582 non-null  int64
 20  bathrooms                                     23667 non-null  float64
 21  bedrooms                                      25716 non-null  float64
 22  beds                                          23629 non-null  float64
 23  amenities                                     26582 non-null  object
 24  price                                         23655 non-null  object
 25  minimum_nights                                26582 non-null  int64
 26  maximum_nights                                26582 non-null  int64
 27  minimum_nights_avg_ntm                        26582 non-null  float64
 28  maximum_nights_avg_ntm                        26582 non-null  float64
 29  calendar_last_scraped                         26582 non-null  object
 30  has_availability                              25574 non-null  object
 31  availability_30                               26582 non-null  int64
 32  availability_90                               26582 non-null  int64
 33  availability_365                              26582 non-null  int64
 34  number_of_reviews                             26582 non-null  int64
 35  first_review                                  22926 non-null  object
 36  last_review                                   22926 non-null  object
 37  review_scores_rating                          22926 non-null  float64
 38  review_scores_accuracy                        22925 non-null  float64
 39  review_scores_cleanliness                     22925 non-null  float64
 40  review_scores_checkin                         22925 non-null  float64
 41  review_scores_communication                   22925 non-null  float64
 42  review_scores_location                        22925 non-null  float64
 43  review_scores_value                           22925 non-null  float64
 44  license                                       0 non-null      float64
 45  instant_bookable                              26582 non-null  object
 46  calculated_host_listings_count                26582 non-null  int64
 47  calculated_host_listings_count_entire_homes   26582 non-null  int64
 48  calculated_host_listings_count_private_rooms  26582 non-null  int64
 49  calculated_host_listings_count_shared_rooms   26582 non-null  int64
dtypes: float64(15), int64(16), object(19)
memory usage: 10.1+ MB

Sustituimos valores nulos con un string en concreto

In [7]:
data2["host_response_time"] = data2["host_response_time"].fillna("within a few hours")

In [8]:
data2["host_is_superhost"] = data2["host_is_superhost"].fillna("f")

In [9]:
data2["neighbourhood"] = data2["neighbourhood"].fillna("unknown")

In [10]:
data2["has_availability"] = data2["has_availability"].fillna("t")

In [11]:
# Rellenar los valores nulos con la fecha mÃ¡s reciente del scraping
recent_date = data2["last_scraped"].max()
data2["first_review"] = data2["first_review"].fillna(recent_date)

In [12]:
data2["last_review"] = data2["last_review"].fillna(recent_date)

Sustituimos valores nulos por el promedio

In [14]:
# Rellenar con el promedio de la columna
data2["beds"] = data2["beds"].fillna(data2["beds"].mean())

In [15]:
data2["bathrooms"] = data2["bathrooms"].fillna(data2["bathrooms"].mean())

In [16]:
data2["bedrooms"] = data2["bedrooms"].fillna(data2["bedrooms"].mean())

Sustituimos valores nulos por la mediana

In [18]:
data2["price"] = data2["price"].replace({'\$': '', ',': ''}, regex=True)  # Eliminar sÃ­mbolos de dÃ³lar y comas
data2["price"] = data2["price"].astype(float)  # Convertir la columna a tipo float

data2["price"] = data2["price"].fillna(data2["price"].median())

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\jocel\AppData\Local\Temp\ipykernel_14184\347928009.py:1: SyntaxWarning: invalid escape sequence '\$'
  data2["price"] = data2["price"].replace({'\$': '', ',': ''}, regex=True)  # Eliminar sÃ­mbolos de dÃ³lar y comas

In [20]:
data2["host_response_rate"] = data2["host_response_rate"].replace({'%': ''}, regex=True).astype(float) / 100
data2["host_response_rate"] = data2["host_response_rate"].fillna(data2["host_response_rate"].median())

In [21]:
data2["host_acceptance_rate"] = data2["host_acceptance_rate"].replace({'%': ''}, regex=True).astype(float) / 100
data2["host_acceptance_rate"] = data2["host_acceptance_rate"].fillna(data2["host_acceptance_rate"].median())

In [22]:
valores_nulos = data2.isnull().sum()
valores_nulos

id                                                  0
scrape_id                                           0
last_scraped                                        0
name                                                0
host_id                                             0
host_name                                           0
host_since                                          0
host_response_time                                  0
host_response_rate                                  0
host_acceptance_rate                                0
host_is_superhost                                   0
host_listings_count                                 0
host_total_listings_count                           0
host_identity_verified                              0
neighbourhood                                       0
latitude                                            0
longitude                                           0
property_type                                       0
room_type                                           0
accommodates                                        0
bathrooms                                           0
bedrooms                                            0
beds                                                0
amenities                                           0
price                                               0
minimum_nights                                      0
maximum_nights                                      0
minimum_nights_avg_ntm                              0
maximum_nights_avg_ntm                              0
calendar_last_scraped                               0
has_availability                                    0
availability_30                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
first_review                                        0
last_review                                         0
review_scores_rating                             3656
review_scores_accuracy                           3657
review_scores_cleanliness                        3657
review_scores_checkin                            3657
review_scores_communication                      3657
review_scores_location                           3657
review_scores_value                              3657
license                                         26582
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
dtype: int64

Sustituimos valores nulos por un valor numerico en concreto

In [23]:
data2["review_scores_rating"] = data2["review_scores_rating"].fillna(5.0)

In [24]:
data2["review_scores_cleanliness"] = data2["review_scores_cleanliness"].fillna(5.0)

Foward Fill

In [41]:
data2["review_scores_checkin"] = data2["review_scores_checkin"].fillna(method="bfill")

C:\Users\jocel\AppData\Local\Temp\ipykernel_14184\584258155.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["review_scores_checkin"] = data2["review_scores_checkin"].fillna(method="bfill")

In [42]:
data2["review_scores_communication"] = data2["review_scores_communication"].fillna(method="bfill")

C:\Users\jocel\AppData\Local\Temp\ipykernel_14184\1253707375.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["review_scores_communication"] = data2["review_scores_communication"].fillna(method="bfill")

In [37]:
data2["review_scores_accuracy"] = data2["review_scores_accuracy"].fillna(method="ffill")

C:\Users\jocel\AppData\Local\Temp\ipykernel_14184\1636651407.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["review_scores_accuracy"] = data2["review_scores_accuracy"].fillna(method="bfill")

In [38]:
data2["review_scores_location"] = data2["review_scores_location"].fillna(method="ffill")

C:\Users\jocel\AppData\Local\Temp\ipykernel_14184\3295049107.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["review_scores_location"] = data2["review_scores_location"].fillna(method="bfill")

In [39]:
data2["review_scores_value"] = data2["review_scores_value"].fillna(method="ffill")

C:\Users\jocel\AppData\Local\Temp\ipykernel_14184\3710121147.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data2["review_scores_value"] = data2["review_scores_value"].fillna(method="bfill")

In [44]:
# Rellenar valores nulos en 'license' con "Unknown"
data2["license"] = data2["license"].fillna("Unknown")

In [45]:
#Identificar valores nulos por columna 
valores_nulos = data2.isnull().sum()
valores_nulos

id                                              0
scrape_id                                       0
last_scraped                                    0
name                                            0
host_id                                         0
host_name                                       0
host_since                                      0
host_response_time                              0
host_response_rate                              0
host_acceptance_rate                            0
host_is_superhost                               0
host_listings_count                             0
host_total_listings_count                       0
host_identity_verified                          0
neighbourhood                                   0
latitude                                        0
longitude                                       0
property_type                                   0
room_type                                       0
accommodates                                    0
bathrooms                                       0
bedrooms                                        0
beds                                            0
amenities                                       0
price                                           0
minimum_nights                                  0
maximum_nights                                  0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
calendar_last_scraped                           0
has_availability                                0
availability_30                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
first_review                                    0
last_review                                     0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
license                                         0
instant_bookable                                0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
calculated_host_listings_count_shared_rooms     0
dtype: int64

In [46]:
#Identificar valores nulos por dataframe 
valores_nulos = data2.isnull().sum().sum()
valores_nulos

np.int64(0)

In [47]:
#Convertir dataSet sin valores nulos a csv
data2.to_csv("cdmx_sin_nulos.csv")